<nav>
  <ul>
    <li>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>

    {% for category in site.categories %}
      <li class="dropdown">

        <a href="javascript:void(0)" class="dropbtn">
          {{ category[0] }}
        </a>

        <div class="dropdown-content">
          {% for post in category[1] %}
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          {% endfor %}
        </div>

      </li>
    {% endfor %}

  </ul>
</nav>