<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - DSF web</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  {% include nav.html %}

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2026 Daniel Ziem. All rights reserved. The contents of this site are intended for human readers. No license or right is granted for use in AI training, text-and-data-mining, AI research, or other automated data extraction. All rights are reserved and enforced to the fullest extent permitted by law.</p>
  </footer>

</body>
</html>
